tr 
  td(class="contacts" align="left" bgcolor="#fafafa" style="padding: 16px 16px 6px 16px; font-size:0px;")
    <!--[if (gte mso 9)|(IE)]> <table width="100%" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"><tr><td width="18%" valign="middle" align="left" style="padding:0px;"><![endif]-->
    div(class="column18" style="width:100%; max-width:102px;  display: inline-block; vertical-align: middle;")
      table(align="left" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
        tr 
          td(valign="middle" align="left" style="width:102px; max-width:102px; padding: 0px 0px 10px 0px; font-size: 0px;")
            img(src="%ФотоМенеджера%" width="88" height="113" style="display: block; border: none; padding: 0;" alt="Фотография менеджера")
    <!--[if (gte mso 9)|(IE)]></td><td width="82%" valign="middle" align="left" style="padding:0px;"><![endif]-->
    div(class="column82" style="width:100%; max-width:466px;  display: inline-block; vertical-align:middle;")
      table(align="left" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
        tr 
          td(align="left" valign="middle" style="padding:0px 0px 10px 0px;")
            table(align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width:100%;")
              tr 
                td(valign="top" style="padding:0px 0px 8px 0px; font-family: Arial, sans-serif; color:#212121; font-size: 16px; line-height: 18px; font-weight: bold;")
                  span(style="font-family: Arial, sans-serif; color:#212121; font-size: 16px; line-height: 18px; font-weight: bold;")="%ИмяМенеджера%"
              tr 
                td(valign="top" style="padding:0px 0px 8px 0px; font-family: Arial, sans-serif; color:#757575; font-size: 13px; line-height: 16px;")
                  span(style="font-family: Arial, sans-serif; color:#757575; font-size: 13px; line-height: 16px;")="Ваш персональный менеджер"
              tr 
                td(valign="top" style="padding:0px 0px 1px 0px; font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")
                  span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")="Тел.:"
                  span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px; white-space: nowrap;")="%СотовыйМенеджера%"
              tr
                td(valign="top" style="padding:0px 0px 1px 0px; font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")
                  span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")="Skype:"
                  span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px; white-space: nowrap;")="%СкайпМенеджера%"
              tr
                td(valign="top" style="padding:0px 0px 1px 0px; font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")
                  span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")="Email:"
                  a(href="mailto:%ПочтаМенеджера%" target="_blank" style="color:#212121 !important; text-decoration: none;")
                    span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px; white-space: nowrap;")="%ПочтаМенеджера%"
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->