block variables
  
  - 
    var date = {
      utm: 'utm_source=email&utm_medium=kp_hand&utm_campaign=024249774-promo_odezhda_opt',
      promoUrl: 'https://www.sima-land.ru/promo/tovary-mesyaca-aprel/tovary-po-uhodu-za-obuvyu/?',
      promoDesc: 'Товары для ухода за обувью по отличным ценам до 30 апреля',
      bannerImg: 'https://rassylka.static1-sima-land.com/ftp_rassylka/024249774/0000.jpg',
      headerLinks: [
        {linkUrl:'https://www.sima-land.ru/offers/?', linkText:'\u00A0\u00A0Акции\u00A0\u00A0' },
        {linkUrl:'https://www.sima-land.ru/sale/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Скидки\u00A0\u00A0'},
        {linkUrl:'https://www.sima-land.ru/hit/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Хиты\u00A0\u00A0'},
        {linkUrl:'https://www.sima-land.ru/new/shveynaya-galantereya/?', linkText:'\u00A0\u00A0Новинки\u00A0\u00A0'}
      ],
      textDate: {
        colors: 'color: red',
        align: 'center',
        value: 'Ниже указаны оптовые цены.',
      },
      cards: [
        { row : [
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          ]
        },
        { row : [
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          ]
        },
        { row : [
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          {name: 'Массажные стельки', price: '90', url: 'https://www.sima-land.ru/3943475/'},
          ]
        },
      ],
      benefit: [
        { text: 'Больше<br>1 000 000 товаров', img:'https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/kp/1.png', url:'https://www.sima-land.ru/'},
        { text: 'Скидки на крупные<br>заказы', img:'https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/kp/2.png', url:'https://www.sima-land.ru/skidka-za-obem/'},
        { text: 'Эксклюзивная<br>продукция', img:'https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/kp/3.png', url:'https://www.sima-land.ru/nasha-razrabotka/'},
        { text: 'Доставка<br>в 7 800 городов', img:'https://rassylka.static1-sima-land.com/ftp_rassylka/template/design2020/kp/4.png', url:'https://www.sima-land.ru/info/delivery/'},
      ],
    }

doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="x-apple-disable-message-reformatting")
    meta(name="format-detection" content="telephone=no")
    meta(http-equiv="x-rim-auto-match" content="none")
    meta(name="format-detection" content="address=no")
    style 
      include ../../styles/style.css

    
  body(align="center" style="Margin:0; padding:0; min-width:100%; background-color:#f5f5f5;")
    div(style="background-color:#f5f5f5;")
      table(height="100%" width="100%" cellpadding="0" cellspacing="0" border="0" style="border-spacing:0; border-collapse:collapse;")
        tr 
          td(valign="top" align="center" bgcolor="#f5f5f5" style="padding:0; line-height:normal;")
            center(class="wrapper" bgcolor="#f5f5f5" style="width:100%; table-layout:fixed; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; background-color:#f5f5f5;")
              div(class="webkit" align="center" style="max-width:600px;")
                // [if (gte mso 9)|(IE)]> <table width="600" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"> <tr> <td style="padding:0;"><![endif]
                table(class="outer" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; Margin:0 auto; width:100%; max-width:600px;")
                  block content
                  tr 
                    td(class="contacts" align="left" bgcolor="#fafafa" style="padding: 16px 16px 6px 16px; font-size:0px;")
                      <!--[if (gte mso 9)|(IE)]> <table width="100%" align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse;"><tr><td width="18%" valign="middle" align="left" style="padding:0px;"><![endif]-->
                      div(class="column18" style="width:100%; max-width:102px;  display: inline-block; vertical-align: middle;")
                        table(align="left" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
                          tr 
                            td(valign="middle" align="left" style="width:102px; max-width:102px; padding: 0px 0px 10px 0px; font-size: 0px;")
                              img(src="%ФотоМенеджера%" width="88" height="113" style="display: block; border: none; padding: 0;" alt="Фотография менеджера")
                      <!--[if (gte mso 9)|(IE)]></td><td width="82%" valign="middle" align="left" style="padding:0px;"><![endif]-->
                      div(class="column82" style="width:100%; max-width:466px;  display: inline-block; vertical-align:middle;")
                        table(align="left" width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse;")
                          tr 
                            td(align="left" valign="middle" style="padding:0px 0px 10px 0px;")
                              table(align="left" cellpadding="0" cellspacing="0" style="border-collapse: collapse; width:100%;")
                                tr 
                                  td(valign="top" style="padding:0px 0px 8px 0px; font-family: Arial, sans-serif; color:#212121; font-size: 16px; line-height: 18px; font-weight: bold;")
                                    span(style="font-family: Arial, sans-serif; color:#212121; font-size: 16px; line-height: 18px; font-weight: bold;")="%ИмяМенеджера%"
                                tr 
                                  td(valign="top" style="padding:0px 0px 8px 0px; font-family: Arial, sans-serif; color:#757575; font-size: 13px; line-height: 16px;")
                                    span(style="font-family: Arial, sans-serif; color:#757575; font-size: 13px; line-height: 16px;")="Ваш персональный менеджер"
                                tr 
                                  td(valign="top" style="padding:0px 0px 1px 0px; font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")
                                    span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")="Тел.:"
                                    span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px; white-space: nowrap;")="%СотовыйМенеджера%"
                                tr
                                  td(valign="top" style="padding:0px 0px 1px 0px; font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")
                                    span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")="Skype:"
                                    span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px; white-space: nowrap;")="%СкайпМенеджера%"
                                tr
                                  td(valign="top" style="padding:0px 0px 1px 0px; font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")
                                    span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px;")="Email:"
                                    a(href="mailto:%ПочтаМенеджера%" target="_blank" style="color:#212121 !important; text-decoration: none;")
                                      span(style="font-family: Arial, sans-serif; color:#212121; font-size: 14px; line-height: 18px; white-space: nowrap;")="%ПочтаМенеджера%"
                      <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->
                  tr 
                    td(height="8" style="padding: 0px; font-family: Arial, sans-serif; color: #f5f5f5; font-size: 6px; line-height: 8px;")="\u00A0"
                  
                // [if (gte mso 9)|(IE)]> </td> </tr> </table> <![endif]